@font-face {
    font-family: 'pkm-font';
    src: url(./fonts/PokemonGb-RAeo.ttf) format('truetype');
  }
  
.margin0{
  margin: 0;
}

body{
    margin: 0;
    background-color: #EDEDED;
}
.width40{
    width: 40%;
}

/*
.info-Box{
    height: 100vh;
}
*/

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.gap5{
    gap: 5px;
}

.gap10{
    gap: 10px;
}



.margin-Top10{
    margin-top: 10px;
}

.margin-Left10{
    margin-Left: 10px;
}



.info-Box-Header{
    height: 4vh;
    background-color: #EC3031;
    font-family: 'pkm-font';
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: center;
    text-align: center;
}

.buttonRegion {
    background-color: white;
    color: black;
    font-family: 'pkm-font';
    border-radius: 5px;
    border: none;
    padding: 2px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .buttonRegion:hover {
    background-color: #E0da191F;
  }

.middle-line{
    background-color: black;
    font-family: 'pkm-font';
    color: white;
    display: flex;
    padding-left: 10px;
    height: 1vh;
    align-items: center;

}


.info-region {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: center;
    justify-content: center;
  }
  
  .rotate{
    transform: rotate(180deg);
    transition: height 1s ease-in-out;
  }
  .info-region::-webkit-scrollbar {
    display: none;
  }
  
  .info-region .buttonRegion {
    margin-right: 10px;
    cursor: pointer;
    height: 20px;

  }
  
  .slider {
    display: flex;
    white-space: nowrap;

  }
  
  
  
  

.info-Box-Header input {
    height: 2vh;
    background-color: #EC3031;
    font-family: 'pkm-font';
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 180px;
    }

    .info-Box-Header ::placeholder {
        color: white;
        }


.info-Box-Middle{
    height: 25vh;
    display: flex;
}


.info-Box-Middle-Left{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.info-Box-Middle-Right{
    width: 60%;
}

.info-Name{
    height: 50px;
}
.info-Print-Top{
    height: 8px;
    width: 42px;
    background-color: #EC3031;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.info-Print-Bottom{
    height: 30px;
    width: 40px;
    border-top: 5px solid #bebebe;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.info-Type{
    height: 20px;
    width: 60px;
    color: white;
    margin-top: 10px;
    margin-left: 4px;
}


.info-Name-Top{
    height: 20px;
    margin-top: 10px;
    background-color: #EC3031;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 215px;
}

.info-Name-Bottom{
    height: 20px;
    border-top: 5px solid #bebebe;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    width: 213px;
}

.arrow-size{
    height: 50px;
    cursor: pointer;
}

.pokeball-png{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}
.pokeball-png img{
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.pkm-Names{
    font-family: 'pkm-font';
    color: white;
    text-align: center;
    font-size: 8px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.info-Name-Bottom span{
    font-family: 'pkm-font';
    color: black;
    text-align: center;
    font-size: 10px;
    padding-left: 5px;
}

.type-Name{
    font-family: 'pkm-font';
    font-size: 6px;
    border-radius: 5px;
}

.info-Weight-Top{
    margin-top: 20px;
    height: 2vh;
    width: 215px;
}


.info-Weight-Bottom{
    border-top: 5px solid #bebebe;
    height: 2vh;
    width: 215px;
}

.info-Weight-Bottom span,
.info-Weight-Top span {
    text-align: center;
}

.info-Box-Footer{
    width: 40vw;
    height: 9vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #EC3031;
}

.info-Text{
    background-color: white;
    width: 87vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    border: solid 1px black;
}

.pkm-font{
    font-family: pkm-font;
    font-size: 10px;

}

.number-span{
    margin-bottom: 175px;
    position: absolute;
    margin-right: 70px;
}

.text-center{
    text-align: center;
}

.all-Pokemon{
    display: flex;
    flex-wrap: wrap;
    margin-top: 52vh;
}

.single-Pokemon{
    background: white;
    width: 110px;
    height: 120px;
    border-radius: 5px;
    margin: 5px;
    max-width: 100%;
}

.single-Pokemon:hover img {
    transform: scale(1.2);
    z-index: 1;
    position: relative;
    top: -10px;
    cursor: pointer;
  }
  

.single-Pokemon img{
    width: 100px;
    height: 100px;
}

.single-Pokemon span{
    font-family: 'pkm-font';
    font-size: 7px;
    margin-top: -10px;
}

.header-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
}

.margin-left-right{
    margin-left: 2vw;
    margin-right: 5vw;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100001;
    position: fixed;
}
  
.pokeball {
    background-image: url(./png/pokeball.png);
    animation: spin 5s linear infinite;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.loading-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    font-family:'pkm-font';
  }

  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .stats-Box {
    height: 20vh;
    margin-right: 5vw;
    width: 50%;
  }
  
  
  
  .bar {
    width: 100%;
    height: 10px;
    background-color: #bebebe;
    overflow: hidden;
  }
  
  .fill {
    height: 100%;
    background-color: #8c8c8c;
    display: flex;
    align-items: center;

  }

  .none{
    display: none;
  }

  .master-box{
    display: flex;
  }

  .box-1{
    width: 50%;
    height: unset;
    padding-top: unset;
  }

  .stats-box-center{
    padding-top: 6vh;
  }
  
    
@media only screen and (max-width: 600px) {

    .master-box{
        display: unset;
      }

    .stats-Box {
        height: 0;
        margin-left: 5vw;
        margin-right: 5vw;
        overflow: hidden;

        display: none;
        width: unset;
      }
      
      .stats-Box.hidden {
        height: 30vh;
        display: block;
      }

      

      .padding{
        height: 40vh;
        padding-top: 10vh;
      }
      
      .none{
        display: flex;
        height: 13vh;
      }

      .box-1{
        width: unset;
      }

      .info-Box-Footer{
        width: 90vw;
      }

      .stats-box-center{
        padding-top: 0vh;
      }


      .all-Pokemon{
        margin-top: 67vh;
    }

    .info-region{
      justify-content: start;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .info-Box-Middle {
    height: 17vh;
}

.all-Pokemon {
  margin-top: 40vh;
}

}


::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,.15);
}

::-webkit-scrollbar-thumb {
border: 3px solid transparent;
 background-clip: content-box;
  background-color: #EC3031;
}